all_ships	["1/haifisch5",	"1/hummingb",	"1/tie_f",	"1/haifisch",
		"1/cicaida",	"1/albatross",	"1/engelder",	"1/todengel",
		"1/colonial",	"1/haifisch3",	"1/y01",	"1/falcon",
		"1/odyssey",	"1/dart",	"1/a-1701",	"1/scorpion",
		"1/accubierre",	"1/puddleju",	"1/kosmiche",	"1/x03",
		"1/tintenfi",	"1/vau",	"1/hornisse",	"1/drill",
		"1/x01",	"1/schatten",	"1/vulture",	"1/panzer",
		"1/interceptor",	"1/haifisch2",	"1/cloaked",
		"1/vogelfresser",	"1/boson",	"1/protocannon",
		"1/spindle",	"1/penguin",	"1/leesreve",	"1/neutrino",
		"1/skinfaxi",	"1/geistere",	"1/neu_panzer",	"1/mantis",
		"1/vaufisch",	"1/defiant",	"1/haifisc0",	"1/enemy",
		"1/junker",	"1/x02",	"1/schwertw",	"1/photon",
		"1/eagle",	"1/komet",	"1/player0",	"1/schwalbe2",
		"1/libelle",	"1/vogelgru",	"1/grasshop",	"1/libellei",
		"1/sonderba",	"1/xwing",	"1/eagleii",	"1/x04",
		"1/enterprise",	"1/spider",	"1/feuereng",	"1/sidewinder",
		"1/sclachte",	"1/ju88",	"1/phoenix",	"1/haifisc1",
		"1/seeletoeter",	"1/cylon",	"1/muon",
		"1/minimumb",	"1/klingon",	"1/tie_b",	"1/schleich",
		"1/hrimfaxi",	"1/unladens",	"1/toserpise",	"1/haifisch4",
		"1/schwalbe",	"1/viking",	"1/meteor",	"1/silberfi",
		"1/tbone",	"1/microstealth",	"1/reiseeng",
		"1/hawk",	"9/basecap",	"9/shiphn00",	"9/corvette",
		"9/swp002",	"9/shiphood",	"9/armagedd",	"9/victoryc",
		"9/shiphttp",	"9/brelclas",	"9/schutzen",	"9/lx002",
		"9/shipmin",	"9/ex006",	"9/shipdeat",	"9/shipraid",
		"9/ex002",	"9/birdofpr",	"9/maveric",	"9/kamakazi",
		"9/tyranthi",	"9/crossbow",	"9/vindicat",	"9/dreadnau",
		"9/dc1220",	"9/varon",	"9/battlesh",	"9/ms06zeta",
		"9/zaku",	"9/shipepic",	"9/brick",	"9/ms01gund",
		"9/bc001",	"9/shipcake",	"9/shiphn01",	"9/skirmish",
		"9/manvworl",	"9/destroye",	"9/shipdogf",	"9/shiptb12",
		"9/cloaded",	"9/shiplx00",	"9/shipcorv",	"9/ex004",
		"9/lagrang",	"9/rclasswa",	"9/mkiiifri",	"9/shipt280",
		"9/judgemen",	"9/boom",	"9/p3535",	"9/shiprain",
		"9/tyrant",	"9/doomsday",	"9/m122",	"9/fighter",
		"9/shiptest",	"9/vortex",	"9/lx010",	"9/baalclas",
		"9/spw005",	"9/dictator",	"9/potemkin",	"9/drachen",
		"9/shipf670",	"9/shipvoge",	"9/klingon",	"9/awing",
		"9/d7cruise",	"9/swp001",	"9/swp003",	"9/ex003",
		"9/ainterce",	"9/fire",	"9/triumphc",	"9/engelges",
		"9/lx003",	"9/andreous",	"9/shippatr",]
oldc	["interceptor",	"komet",	"odyssey",	"panzer",
	"xwing",	"haifisch",	"drill",	"seeletoeter",
	"haifisch2",	"cicaida",	"muon",	"haifisch3",	"vau",
	"x01",	"x02",	"x03",	"x04",	"haifisch4",	"defiant",]
c	["1/haifisch5",	"1/tie_f",	"1/haifisch",	"1/cicaida",
	"1/haifisch3",	"1/odyssey",	"1/accubierre",	"1/kosmiche",
	"1/x03",	"1/tintenfi",	"1/vau",	"1/drill",
	"1/x01",	"1/panzer",	"1/interceptor",	"1/haifisch2",
	"1/boson",	"1/spindle",	"1/neutrino",	"1/skinfaxi",
	"1/vaufisch",	"1/defiant",	"1/haifisc0",	"1/enemy",
	"1/x02",	"1/schwertw",	"1/komet",	"1/player0",
	"1/xwing",	"1/x04",	"1/haifisc1",	"1/seeletoeter",
	"1/muon",	"1/schleich",	"1/hrimfaxi",	"1/toserpise",
	"1/haifisch4",	"1/silberfi",	"9/basecap",	"9/shiphn00",
	"9/corvette",	"9/swp002",	"9/shiphood",	"9/armagedd",
	"9/shiphttp",	"9/lx002",	"9/shipmin",	"9/ex006",
	"9/shipdeat",	"9/shipraid",	"9/ex002",	"9/birdofpr",
	"9/maveric",	"9/crossbow",	"9/dreadnau",	"9/varon",
	"9/battlesh",	"9/zaku",	"9/shipepic",	"9/brick",
	"9/ms01gund",	"9/shipcake",	"9/shiphn01",	"9/manvworl",
	"9/shipdogf",	"9/shiptb12",	"9/shiplx00",	"9/shipcorv",
	"9/ex004",	"9/lagrang",	"9/mkiiifri",	"9/shipt280",
	"9/boom",	"9/shiprain",	"9/vortex",	"9/lx010",
	"9/spw005",	"9/shipf670",	"9/klingon",	"9/awing",
	"9/d7cruise",	"9/swp001",	"9/swp003",	"9/ex003",
	"9/fire",	"9/lx003",	"9/shippatr",]
b	["1/hummingb",	"1/albatross",	"1/y01",	"1/falcon",
	"1/dart",	"1/a-1701",	"1/scorpion",	"1/vulture",
	"1/vogelfresser",	"1/protocannon",	"1/penguin",
	"1/leesreve",	"1/neu_panzer",	"1/mantis",	"1/junker",
	"1/photon",	"1/eagle",	"1/schwalbe2",	"1/libelle",
	"1/vogelgru",	"1/libellei",	"1/eagleii",	"1/enterprise",
	"1/spider",	"1/sidewinder",	"1/ju88",	"1/phoenix",
	"1/minimumb",	"1/klingon",	"1/tie_b",	"1/unladens",
	"1/schwalbe",	"1/viking",	"1/meteor",	"1/tbone",
	"1/microstealth",	"1/hawk",	"9/victoryc",	"9/brelclas",
	"9/kamakazi",	"9/dc1220",	"9/ms06zeta",	"9/bc001",
	"9/destroye",	"9/rclasswa",	"9/p3535",	"9/m122",
	"9/fighter",	"9/shiptest",	"9/baalclas",	"9/dictator",
	"9/shipvoge",	"9/andreous",]
user	{
 usr2	{
  deletable	t
  name	"Abendstern Classic",
  contents	({
    target	"1/interceptor",
    weight	1
   }	{
    target	"1/komet",
    weight	1
   }	{
    target	"1/panzer",
    weight	1
   }	{
    target	"1/xwing",
    weight	1
   }	{
    target	"1/enemy",
    weight	1
   }	{
    target	"1/player0",
    weight	1
   }	{
    target	"1/spindle",
    weight	1
   }	{
    target	"1/tie_f",
    weight	1
   })
 }
 usr0	{
  deletable	t
  name	"Capital Battle B",
  contents	({
    target	"1/eagle",
    weight	11
   }	{
    target	"1/hawk",
    weight	11
   }	{
    target	"1/ju88",
    weight	1
   }	{
    target	"1/vogelfresser",
    weight	1
   }	{
    target	"1/libelle",
    weight	6
   }	{
    target	"1/albatross",
    weight	1
   }	{
    target	"9/dictator",
    weight	1
   }	{
    target	"1/eagleii",
    weight	1
   })
 }
 usr3	{
  deletable	t
  name	"Haifisch vs X-Series",
  contents	({
    target	"1/haifisch",
    weight	1
   }	{
    target	"1/haifisch2",
    weight	1
   }	{
    target	"1/haifisch3",
    weight	1
   }	{
    target	"1/haifisch4",
    weight	1
   }	{
    target	"1/x01",
    weight	1
   }	{
    target	"1/x02",
    weight	1
   }	{
    target	"1/x03",
    weight	1
   }	{
    target	"1/x04",
    weight	1
   }	{
    target	"1/haifisch5",
    weight	1
   }	{
    target	"1/haifisc0",
    weight	1
   }	{
    target	"1/haifisc1",
    weight	1
   })
 }
 usr1	{
  deletable	t
  name	"Battle C",
  contents	({
    target	"1/accubierre",
    weight	1
   }	{
    target	"1/cicaida",
    weight	1
   }	{
    target	"1/defiant",
    weight	1
   }	{
    target	"1/drill",
    weight	1
   }	{
    target	"1/haifisch",
    weight	1
   }	{
    target	"1/haifisch2",
    weight	1
   }	{
    target	"1/haifisch3",
    weight	1
   }	{
    target	"1/haifisch4",
    weight	1
   }	{
    target	"1/haifisch5",
    weight	1
   }	{
    target	"1/haifisc0",
    weight	1
   }	{
    target	"1/neutrino",
    weight	1
   }	{
    target	"1/schwertw",
    weight	1
   }	{
    target	"1/silberfi",
    weight	1
   }	{
    target	"1/vau",
    weight	1
   }	{
    target	"1/vaufisch",
    weight	1
   }	{
    target	"1/x01",
    weight	1
   }	{
    target	"1/x02",
    weight	1
   }	{
    target	"1/x03",
    weight	1
   }	{
    target	"1/x04",
    weight	1
   }	{
    target	"1/tintenfi",
    weight	1
   }	{
    target	"1/kosmiche",
    weight	1
   }	{
    target	"1/haifisc1",
    weight	1
   })
 }
 usr4	{
  deletable	t
  name	"Walkürenritt",
  contents	({
    target	"1/hrimfaxi",
    weight	1
   }	{
    target	"1/skinfaxi",
    weight	1
   })
 }
 usr5	{
  deletable	t
  name	"AI Staging C",
  contents	({
    target	"1/accubierre",
    weight	1
   }	{
    target	"1/cicaida",
    weight	1
   }	{
    target	"1/defiant",
    weight	1
   }	{
    target	"1/drill",
    weight	1
   }	{
    target	"1/haifisch",
    weight	1
   }	{
    target	"1/haifisch2",
    weight	1
   }	{
    target	"1/haifisch3",
    weight	1
   }	{
    target	"1/haifisch4",
    weight	1
   }	{
    target	"1/haifisch5",
    weight	1
   }	{
    target	"1/haifisc0",
    weight	1
   }	{
    target	"1/interceptor",
    weight	1
   }	{
    target	"1/hrimfaxi",
    weight	1
   }	{
    target	"1/komet",
    weight	1
   }	{
    target	"1/neutrino",
    weight	1
   }	{
    target	"1/skinfaxi",
    weight	1
   }	{
    target	"1/silberfi",
    weight	1
   }	{
    target	"1/x01",
    weight	1
   }	{
    target	"1/x02",
    weight	1
   }	{
    target	"1/x03",
    weight	1
   }	{
    target	"1/x04",
    weight	1
   }	{
    target	"1/kosmiche",
    weight	1
   }	{
    target	"1/schwertw",
    weight	1
   }	{
    target	"1/vau",
    weight	1
   }	{
    target	"1/vaufisch",
    weight	1
   })
 }
 usr6	{
  deletable	t
  name	"AI Staging B",
  contents	({
    target	"9/brelclas",
    weight	1
   }	{
    target	"9/baalclas",
    weight	1
   }	{
    target	"1/albatross",
    weight	1
   }	{
    target	"1/dart",
    weight	1
   }	{
    target	"9/dictator",
    weight	1
   }	{
    target	"1/eagle",
    weight	1
   }	{
    target	"1/falcon",
    weight	1
   }	{
    target	"1/hawk",
    weight	1
   }	{
    target	"1/ju88",
    weight	1
   }	{
    target	"1/junker",
    weight	1
   }	{
    target	"1/leesreve",
    weight	1
   }	{
    target	"1/mantis",
    weight	1
   }	{
    target	"1/meteor",
    weight	1
   }	{
    target	"1/protocannon",
    weight	1
   }	{
    target	"1/scorpion",
    weight	1
   }	{
    target	"9/victoryc",
    weight	1
   }	{
    target	"1/vogelfresser",
    weight	1
   }	{
    target	"1/y01",
    weight	1
   }	{
    target	"1/libelle",
    weight	1
   }	{
    target	"1/penguin",
    weight	1
   }	{
    target	"1/unladens",
    weight	1
   })
 }
 usr7	{
  deletable	t
  name	"AI Staging A",
  contents	({
    target	"1/colonial",
    weight	1
   }	{
    target	"1/cylon",
    weight	1
   }	{
    target	"1/feuereng",
    weight	1
   }	{
    target	"1/grasshop",
    weight	1
   }	{
    target	"1/puddleju",
    weight	1
   }	{
    target	"1/reiseeng",
    weight	1
   }	{
    target	"1/schatten",
    weight	1
   }	{
    target	"1/sclachte",
    weight	1
   }	{
    target	"1/todengel",
    weight	1
   }	{
    target	"1/engelder",
    weight	1
   })
 }
 usr8	{
  deletable	t
  name	"Dogfight B",
  contents	({
    target	"1/albatross",
    weight	1
   }	{
    target	"1/dart",
    weight	1
   }	{
    target	"1/eagle",
    weight	1
   }	{
    target	"1/falcon",
    weight	1
   }	{
    target	"1/hawk",
    weight	1
   }	{
    target	"1/ju88",
    weight	1
   }	{
    target	"1/leesreve",
    weight	1
   }	{
    target	"1/mantis",
    weight	1
   }	{
    target	"1/penguin",
    weight	1
   }	{
    target	"1/spider",
    weight	1
   }	{
    target	"1/unladens",
    weight	1
   }	{
    target	"1/eagleii",
    weight	1
   }	{
    target	"1/hummingb",
    weight	1
   }	{
    target	"9/andreous",
    weight	1
   }	{
    target	"1/vulture",
    weight	1
   }	{
    target	"1/libellei",
    weight	1
   }	{
    target	"1/phoenix",
    weight	1
   })
 }
 usr9	{
  deletable	t
  name	"Swarm",
  contents	({
    target	"1/photon",
    weight	256
   }	{
    target	"1/meteor",
    weight	256
   }	{
    target	"1/minimumb",
    weight	256
   })
 }
 usr10	{
  deletable	t
  name	"Eagles",
  contents	({
    target	"1/eagle",
    weight	1
   }	{
    target	"1/eagleii",
    weight	1
   })
 }
 usr11	{
  deletable	t
  name	"Dogfight A",
  contents	({
    target	"1/colonial",
    weight	1
   }	{
    target	"1/cylon",
    weight	1
   }	{
    target	"1/feuereng",
    weight	1
   }	{
    target	"1/grasshop",
    weight	1
   }	{
    target	"1/hornisse",
    weight	1
   }	{
    target	"1/puddleju",
    weight	1
   }	{
    target	"1/schatten",
    weight	1
   }	{
    target	"1/sclachte",
    weight	1
   }	{
    target	"1/todengel",
    weight	1
   }	{
    target	"9/vindicat",
    weight	1
   })
 }
 std_c	{
  name	"All Class C",
  deletable	f
  contents	({
    target	"1/haifisch5",
    weight	1
   }	{
    target	"1/tie_f",
    weight	1
   }	{
    target	"1/haifisch",
    weight	1
   }	{
    target	"1/cicaida",
    weight	1
   }	{
    target	"1/haifisch3",
    weight	1
   }	{
    target	"1/odyssey",
    weight	1
   }	{
    target	"1/accubierre",
    weight	1
   }	{
    target	"1/kosmiche",
    weight	1
   }	{
    target	"1/x03",
    weight	1
   }	{
    target	"1/tintenfi",
    weight	1
   }	{
    target	"1/vau",
    weight	1
   }	{
    target	"1/drill",
    weight	1
   }	{
    target	"1/x01",
    weight	1
   }	{
    target	"1/panzer",
    weight	1
   }	{
    target	"1/interceptor",
    weight	1
   }	{
    target	"1/haifisch2",
    weight	1
   }	{
    target	"1/boson",
    weight	1
   }	{
    target	"1/spindle",
    weight	1
   }	{
    target	"1/neutrino",
    weight	1
   }	{
    target	"1/skinfaxi",
    weight	1
   }	{
    target	"1/vaufisch",
    weight	1
   }	{
    target	"1/defiant",
    weight	1
   }	{
    target	"1/haifisc0",
    weight	1
   }	{
    target	"1/enemy",
    weight	1
   }	{
    target	"1/x02",
    weight	1
   }	{
    target	"1/schwertw",
    weight	1
   }	{
    target	"1/komet",
    weight	1
   }	{
    target	"1/player0",
    weight	1
   }	{
    target	"1/xwing",
    weight	1
   }	{
    target	"1/x04",
    weight	1
   }	{
    target	"1/haifisc1",
    weight	1
   }	{
    target	"1/seeletoeter",
    weight	1
   }	{
    target	"1/muon",
    weight	1
   }	{
    target	"1/schleich",
    weight	1
   }	{
    target	"1/hrimfaxi",
    weight	1
   }	{
    target	"1/toserpise",
    weight	1
   }	{
    target	"1/haifisch4",
    weight	1
   }	{
    target	"1/silberfi",
    weight	1
   }	{
    target	"9/basecap",
    weight	1
   }	{
    target	"9/shiphn00",
    weight	1
   }	{
    target	"9/corvette",
    weight	1
   }	{
    target	"9/swp002",
    weight	1
   }	{
    target	"9/shiphood",
    weight	1
   }	{
    target	"9/armagedd",
    weight	1
   }	{
    target	"9/shiphttp",
    weight	1
   }	{
    target	"9/lx002",
    weight	1
   }	{
    target	"9/shipmin",
    weight	1
   }	{
    target	"9/ex006",
    weight	1
   }	{
    target	"9/shipdeat",
    weight	1
   }	{
    target	"9/shipraid",
    weight	1
   }	{
    target	"9/ex002",
    weight	1
   }	{
    target	"9/birdofpr",
    weight	1
   }	{
    target	"9/maveric",
    weight	1
   }	{
    target	"9/crossbow",
    weight	1
   }	{
    target	"9/dreadnau",
    weight	1
   }	{
    target	"9/varon",
    weight	1
   }	{
    target	"9/battlesh",
    weight	1
   }	{
    target	"9/zaku",
    weight	1
   }	{
    target	"9/shipepic",
    weight	1
   }	{
    target	"9/brick",
    weight	1
   }	{
    target	"9/ms01gund",
    weight	1
   }	{
    target	"9/shipcake",
    weight	1
   }	{
    target	"9/shiphn01",
    weight	1
   }	{
    target	"9/manvworl",
    weight	1
   }	{
    target	"9/shipdogf",
    weight	1
   }	{
    target	"9/shiptb12",
    weight	1
   }	{
    target	"9/shiplx00",
    weight	1
   }	{
    target	"9/shipcorv",
    weight	1
   }	{
    target	"9/ex004",
    weight	1
   }	{
    target	"9/lagrang",
    weight	1
   }	{
    target	"9/mkiiifri",
    weight	1
   }	{
    target	"9/shipt280",
    weight	1
   }	{
    target	"9/boom",
    weight	1
   }	{
    target	"9/shiprain",
    weight	1
   }	{
    target	"9/vortex",
    weight	1
   }	{
    target	"9/lx010",
    weight	1
   }	{
    target	"9/spw005",
    weight	1
   }	{
    target	"9/shipf670",
    weight	1
   }	{
    target	"9/klingon",
    weight	1
   }	{
    target	"9/awing",
    weight	1
   }	{
    target	"9/d7cruise",
    weight	1
   }	{
    target	"9/swp001",
    weight	1
   }	{
    target	"9/swp003",
    weight	1
   }	{
    target	"9/ex003",
    weight	1
   }	{
    target	"9/fire",
    weight	1
   }	{
    target	"9/lx003",
    weight	1
   }	{
    target	"9/shippatr",
    weight	1
   })
 }
 std_b	{
  name	"All Class B",
  deletable	f
  contents	({
    target	"1/hummingb",
    weight	1
   }	{
    target	"1/albatross",
    weight	1
   }	{
    target	"1/y01",
    weight	1
   }	{
    target	"1/falcon",
    weight	1
   }	{
    target	"1/dart",
    weight	1
   }	{
    target	"1/a-1701",
    weight	1
   }	{
    target	"1/scorpion",
    weight	1
   }	{
    target	"1/vulture",
    weight	1
   }	{
    target	"1/vogelfresser",
    weight	1
   }	{
    target	"1/protocannon",
    weight	1
   }	{
    target	"1/penguin",
    weight	1
   }	{
    target	"1/leesreve",
    weight	1
   }	{
    target	"1/neu_panzer",
    weight	1
   }	{
    target	"1/mantis",
    weight	1
   }	{
    target	"1/junker",
    weight	1
   }	{
    target	"1/photon",
    weight	1
   }	{
    target	"1/eagle",
    weight	1
   }	{
    target	"1/schwalbe2",
    weight	1
   }	{
    target	"1/libelle",
    weight	1
   }	{
    target	"1/vogelgru",
    weight	1
   }	{
    target	"1/libellei",
    weight	1
   }	{
    target	"1/eagleii",
    weight	1
   }	{
    target	"1/enterprise",
    weight	1
   }	{
    target	"1/spider",
    weight	1
   }	{
    target	"1/sidewinder",
    weight	1
   }	{
    target	"1/ju88",
    weight	1
   }	{
    target	"1/phoenix",
    weight	1
   }	{
    target	"1/minimumb",
    weight	1
   }	{
    target	"1/klingon",
    weight	1
   }	{
    target	"1/tie_b",
    weight	1
   }	{
    target	"1/unladens",
    weight	1
   }	{
    target	"1/schwalbe",
    weight	1
   }	{
    target	"1/viking",
    weight	1
   }	{
    target	"1/meteor",
    weight	1
   }	{
    target	"1/tbone",
    weight	1
   }	{
    target	"1/microstealth",
    weight	1
   }	{
    target	"1/hawk",
    weight	1
   }	{
    target	"9/victoryc",
    weight	1
   }	{
    target	"9/brelclas",
    weight	1
   }	{
    target	"9/kamakazi",
    weight	1
   }	{
    target	"9/dc1220",
    weight	1
   }	{
    target	"9/ms06zeta",
    weight	1
   }	{
    target	"9/bc001",
    weight	1
   }	{
    target	"9/destroye",
    weight	1
   }	{
    target	"9/rclasswa",
    weight	1
   }	{
    target	"9/p3535",
    weight	1
   }	{
    target	"9/m122",
    weight	1
   }	{
    target	"9/fighter",
    weight	1
   }	{
    target	"9/shiptest",
    weight	1
   }	{
    target	"9/baalclas",
    weight	1
   }	{
    target	"9/dictator",
    weight	1
   }	{
    target	"9/shipvoge",
    weight	1
   }	{
    target	"9/andreous",
    weight	1
   })
 }
 std_a	{
  name	"All Class A",
  deletable	f
  contents	({
    target	"1/engelder",
    weight	1
   }	{
    target	"1/todengel",
    weight	1
   }	{
    target	"1/colonial",
    weight	1
   }	{
    target	"1/puddleju",
    weight	1
   }	{
    target	"1/hornisse",
    weight	1
   }	{
    target	"1/schatten",
    weight	1
   }	{
    target	"1/cloaked",
    weight	1
   }	{
    target	"1/geistere",
    weight	1
   }	{
    target	"1/grasshop",
    weight	1
   }	{
    target	"1/sonderba",
    weight	1
   }	{
    target	"1/feuereng",
    weight	1
   }	{
    target	"1/sclachte",
    weight	1
   }	{
    target	"1/cylon",
    weight	1
   }	{
    target	"1/reiseeng",
    weight	1
   }	{
    target	"9/schutzen",
    weight	1
   }	{
    target	"9/tyranthi",
    weight	1
   }	{
    target	"9/vindicat",
    weight	1
   }	{
    target	"9/skirmish",
    weight	1
   }	{
    target	"9/cloaded",
    weight	1
   }	{
    target	"9/judgemen",
    weight	1
   }	{
    target	"9/tyrant",
    weight	1
   }	{
    target	"9/doomsday",
    weight	1
   }	{
    target	"9/potemkin",
    weight	1
   }	{
    target	"9/drachen",
    weight	1
   }	{
    target	"9/ainterce",
    weight	1
   }	{
    target	"9/triumphc",
    weight	1
   }	{
    target	"9/engelges",
    weight	1
   })
 }
 std_all_ships	{
  name	"Everything",
  deletable	f
  contents	({
    target	"1/haifisch5",
    weight	1
   }	{
    target	"1/hummingb",
    weight	1
   }	{
    target	"1/tie_f",
    weight	1
   }	{
    target	"1/haifisch",
    weight	1
   }	{
    target	"1/cicaida",
    weight	1
   }	{
    target	"1/albatross",
    weight	1
   }	{
    target	"1/engelder",
    weight	1
   }	{
    target	"1/todengel",
    weight	1
   }	{
    target	"1/colonial",
    weight	1
   }	{
    target	"1/haifisch3",
    weight	1
   }	{
    target	"1/y01",
    weight	1
   }	{
    target	"1/falcon",
    weight	1
   }	{
    target	"1/odyssey",
    weight	1
   }	{
    target	"1/dart",
    weight	1
   }	{
    target	"1/a-1701",
    weight	1
   }	{
    target	"1/scorpion",
    weight	1
   }	{
    target	"1/accubierre",
    weight	1
   }	{
    target	"1/puddleju",
    weight	1
   }	{
    target	"1/kosmiche",
    weight	1
   }	{
    target	"1/x03",
    weight	1
   }	{
    target	"1/tintenfi",
    weight	1
   }	{
    target	"1/vau",
    weight	1
   }	{
    target	"1/hornisse",
    weight	1
   }	{
    target	"1/drill",
    weight	1
   }	{
    target	"1/x01",
    weight	1
   }	{
    target	"1/schatten",
    weight	1
   }	{
    target	"1/vulture",
    weight	1
   }	{
    target	"1/panzer",
    weight	1
   }	{
    target	"1/interceptor",
    weight	1
   }	{
    target	"1/haifisch2",
    weight	1
   }	{
    target	"1/cloaked",
    weight	1
   }	{
    target	"1/vogelfresser",
    weight	1
   }	{
    target	"1/boson",
    weight	1
   }	{
    target	"1/protocannon",
    weight	1
   }	{
    target	"1/spindle",
    weight	1
   }	{
    target	"1/penguin",
    weight	1
   }	{
    target	"1/leesreve",
    weight	1
   }	{
    target	"1/neutrino",
    weight	1
   }	{
    target	"1/skinfaxi",
    weight	1
   }	{
    target	"1/geistere",
    weight	1
   }	{
    target	"1/neu_panzer",
    weight	1
   }	{
    target	"1/mantis",
    weight	1
   }	{
    target	"1/vaufisch",
    weight	1
   }	{
    target	"1/defiant",
    weight	1
   }	{
    target	"1/haifisc0",
    weight	1
   }	{
    target	"1/enemy",
    weight	1
   }	{
    target	"1/junker",
    weight	1
   }	{
    target	"1/x02",
    weight	1
   }	{
    target	"1/schwertw",
    weight	1
   }	{
    target	"1/photon",
    weight	1
   }	{
    target	"1/eagle",
    weight	1
   }	{
    target	"1/komet",
    weight	1
   }	{
    target	"1/player0",
    weight	1
   }	{
    target	"1/schwalbe2",
    weight	1
   }	{
    target	"1/libelle",
    weight	1
   }	{
    target	"1/vogelgru",
    weight	1
   }	{
    target	"1/grasshop",
    weight	1
   }	{
    target	"1/libellei",
    weight	1
   }	{
    target	"1/sonderba",
    weight	1
   }	{
    target	"1/xwing",
    weight	1
   }	{
    target	"1/eagleii",
    weight	1
   }	{
    target	"1/x04",
    weight	1
   }	{
    target	"1/enterprise",
    weight	1
   }	{
    target	"1/spider",
    weight	1
   }	{
    target	"1/feuereng",
    weight	1
   }	{
    target	"1/sidewinder",
    weight	1
   }	{
    target	"1/sclachte",
    weight	1
   }	{
    target	"1/ju88",
    weight	1
   }	{
    target	"1/phoenix",
    weight	1
   }	{
    target	"1/haifisc1",
    weight	1
   }	{
    target	"1/seeletoeter",
    weight	1
   }	{
    target	"1/cylon",
    weight	1
   }	{
    target	"1/muon",
    weight	1
   }	{
    target	"1/minimumb",
    weight	1
   }	{
    target	"1/klingon",
    weight	1
   }	{
    target	"1/tie_b",
    weight	1
   }	{
    target	"1/schleich",
    weight	1
   }	{
    target	"1/hrimfaxi",
    weight	1
   }	{
    target	"1/unladens",
    weight	1
   }	{
    target	"1/toserpise",
    weight	1
   }	{
    target	"1/haifisch4",
    weight	1
   }	{
    target	"1/schwalbe",
    weight	1
   }	{
    target	"1/viking",
    weight	1
   }	{
    target	"1/meteor",
    weight	1
   }	{
    target	"1/silberfi",
    weight	1
   }	{
    target	"1/tbone",
    weight	1
   }	{
    target	"1/microstealth",
    weight	1
   }	{
    target	"1/reiseeng",
    weight	1
   }	{
    target	"1/hawk",
    weight	1
   }	{
    target	"9/basecap",
    weight	1
   }	{
    target	"9/shiphn00",
    weight	1
   }	{
    target	"9/corvette",
    weight	1
   }	{
    target	"9/swp002",
    weight	1
   }	{
    target	"9/shiphood",
    weight	1
   }	{
    target	"9/armagedd",
    weight	1
   }	{
    target	"9/victoryc",
    weight	1
   }	{
    target	"9/shiphttp",
    weight	1
   }	{
    target	"9/brelclas",
    weight	1
   }	{
    target	"9/schutzen",
    weight	1
   }	{
    target	"9/lx002",
    weight	1
   }	{
    target	"9/shipmin",
    weight	1
   }	{
    target	"9/ex006",
    weight	1
   }	{
    target	"9/shipdeat",
    weight	1
   }	{
    target	"9/shipraid",
    weight	1
   }	{
    target	"9/ex002",
    weight	1
   }	{
    target	"9/birdofpr",
    weight	1
   }	{
    target	"9/maveric",
    weight	1
   }	{
    target	"9/kamakazi",
    weight	1
   }	{
    target	"9/tyranthi",
    weight	1
   }	{
    target	"9/crossbow",
    weight	1
   }	{
    target	"9/vindicat",
    weight	1
   }	{
    target	"9/dreadnau",
    weight	1
   }	{
    target	"9/dc1220",
    weight	1
   }	{
    target	"9/varon",
    weight	1
   }	{
    target	"9/battlesh",
    weight	1
   }	{
    target	"9/ms06zeta",
    weight	1
   }	{
    target	"9/zaku",
    weight	1
   }	{
    target	"9/shipepic",
    weight	1
   }	{
    target	"9/brick",
    weight	1
   }	{
    target	"9/ms01gund",
    weight	1
   }	{
    target	"9/bc001",
    weight	1
   }	{
    target	"9/shipcake",
    weight	1
   }	{
    target	"9/shiphn01",
    weight	1
   }	{
    target	"9/skirmish",
    weight	1
   }	{
    target	"9/manvworl",
    weight	1
   }	{
    target	"9/destroye",
    weight	1
   }	{
    target	"9/shipdogf",
    weight	1
   }	{
    target	"9/shiptb12",
    weight	1
   }	{
    target	"9/cloaded",
    weight	1
   }	{
    target	"9/shiplx00",
    weight	1
   }	{
    target	"9/shipcorv",
    weight	1
   }	{
    target	"9/ex004",
    weight	1
   }	{
    target	"9/lagrang",
    weight	1
   }	{
    target	"9/rclasswa",
    weight	1
   }	{
    target	"9/mkiiifri",
    weight	1
   }	{
    target	"9/shipt280",
    weight	1
   }	{
    target	"9/judgemen",
    weight	1
   }	{
    target	"9/boom",
    weight	1
   }	{
    target	"9/p3535",
    weight	1
   }	{
    target	"9/shiprain",
    weight	1
   }	{
    target	"9/tyrant",
    weight	1
   }	{
    target	"9/doomsday",
    weight	1
   }	{
    target	"9/m122",
    weight	1
   }	{
    target	"9/fighter",
    weight	1
   }	{
    target	"9/shiptest",
    weight	1
   }	{
    target	"9/vortex",
    weight	1
   }	{
    target	"9/lx010",
    weight	1
   }	{
    target	"9/baalclas",
    weight	1
   }	{
    target	"9/spw005",
    weight	1
   }	{
    target	"9/dictator",
    weight	1
   }	{
    target	"9/potemkin",
    weight	1
   }	{
    target	"9/drachen",
    weight	1
   }	{
    target	"9/shipf670",
    weight	1
   }	{
    target	"9/shipvoge",
    weight	1
   }	{
    target	"9/klingon",
    weight	1
   }	{
    target	"9/awing",
    weight	1
   }	{
    target	"9/d7cruise",
    weight	1
   }	{
    target	"9/swp001",
    weight	1
   }	{
    target	"9/swp003",
    weight	1
   }	{
    target	"9/ex003",
    weight	1
   }	{
    target	"9/ainterce",
    weight	1
   }	{
    target	"9/fire",
    weight	1
   }	{
    target	"9/triumphc",
    weight	1
   }	{
    target	"9/engelges",
    weight	1
   }	{
    target	"9/lx003",
    weight	1
   }	{
    target	"9/andreous",
    weight	1
   }	{
    target	"9/shippatr",
    weight	1
   })
 }
}
a	["1/engelder",	"1/todengel",	"1/colonial",	"1/puddleju",
	"1/hornisse",	"1/schatten",	"1/cloaked",	"1/geistere",
	"1/grasshop",	"1/sonderba",	"1/feuereng",	"1/sclachte",
	"1/cylon",	"1/reiseeng",	"9/schutzen",	"9/tyranthi",
	"9/vindicat",	"9/skirmish",	"9/cloaded",	"9/judgemen",
	"9/tyrant",	"9/doomsday",	"9/potemkin",	"9/drachen",
	"9/ainterce",	"9/triumphc",	"9/engelges",]
effective	["ship:1/interceptor",	"ship:1/komet",	"ship:1/panzer",
		"ship:1/xwing",	"ship:1/enemy",	"ship:1/player0",
		"ship:1/spindle",	"ship:1/tie_f",]
