*~
doc/*
srv/*
tmp/*
swapfile.*
dna/*
*.avi
*.mpg
*.tmp
stamp-h1
debug/*
release/*
gl14/*
gl21/*
optoprof/*
profile/*
proprietary.tar
profile
gmon.out
log
deps.*
debug.*
countlines
denames.txt
runame.txt
run.sh
validation.sh
*.log
Makefile
*.o
abendstern
.cdt*
.settings
.project
.metadata
.cproject
Doxyfile.bak
recorder
hangar.bak
autom4te.cache
.deps
passwords
# Cannot include ttfs, it includes proprietary files
ttfs/*
*/abendstern
lssinfo.rc
abendsternuxgl*
abendstern.rc
hangar
config.status
launchlog.txt
*.gch

