modules = ["require_login", "login_by_name",
           "superuser_support", "superuser_by_ip",
           "chatcommand", "chatcmd_privmsg", "chatcmd_shutdown", "chatcmd_eval",
           "chat_colour", "chat_name_prefix", "broadcast_chat", "player_announce",
           "nametag"
          ];
standard_aux_chatmodules = [ "chat_colour", "chat_name_prefix" ];
super_ips = [ "127.0.0.1:*", "0.0.0.0:*", "192.168.10.199:*" ];

log_level = "info";
log_file = "server.log";

info_server = "amnesiac";
