pretty = {
  comment = "Best quality";
  redirect_big_spark_explosion = true;
  quick =                       [ "vquick",     "fquick"   ];
  simpleColour =                [ "vbasic",     "fbasic"   ];
  textureReplace =              [ "vbastex",    "fbastexr" ];
  textureModulate =             [ "vbastex",    "fbastexm" ];
  textureStensil =              [ "vbastex",    "fbastexs" ];
  stipleColour =                [ "vstiple",    "fstpbas"  ];
  stipleTexture =               [ "vstipltx",   "fstptexs" ];
  ship =                        [ "vbastex",    "fship"    ];
  shipSystemTexture =           [ "vbastex",    "ftexsysb" ];
  planet =                      [ "vplanet",    "fplanet"  ];
  shield =                      [ "vbastex",    "fshield"  ];
  energyCharge =                [ "vbastex",    "fenergyc" ];
  magnetoBomb =                 [ "vbastex",    "fmagbomb" ];
  monophasePulse =              [ "vbastex",    "fmonophs" ];
  missile =                     [ "vbastex",    "fmissile" ];
  hudReticle =                  [ "vbastex",    "fhud"     ];
  simpleExplosion =             [ "vnull",      "fexsimpl",     "gexplode" ];
  sparkleExplosion =            [ "vnull",      "fexsprkl",     "gexplode" ];
  sparkExplosion =              [ "vnull",      "fexspark",     "gexplode" ];
  bigSparkExplosion =           [ "vnull",      "fexbsprk",     "gexplode" ];
  incursionExplosion =          [ "vnull",      "fexincur",     "gexplode" ];
  flameExplosion =              [ "vnull",      "fexflame",     "gexplode" ];
  trail =                       [ "vtrail",     "ftrail",       "gtrail"   ];
  nebula_base_update =          [ "vnebulbu",   "fnebulbu" ];
  nebula_object_update =        [ "vnebulou",   "fnebulou",     "gnebulou" ];
  nebula_object_feedback =      [ "vnebulof",   "fdiscard" ];
  nebula_back_draw =            [ "vbastex",    "fnebulbd" ];
  nebula_front_draw =           [ "vbastex",    "fnebulfd" ];
};
gl21 = {
  comment = "Open GL 2.1-compatible";
  redirect_big_spark_explosion = true;
  quick =                       [ "vquick",     "fquick"   ];
  simpleColour =                [ "vbasic",     "fbasic"   ];
  textureReplace =              [ "vbastex",    "fbastexr" ];
  textureModulate =             [ "vbastex",    "fbastexm" ];
  textureStensil =              [ "vbastex",    "fbastexs" ];
  stipleColour =                [ "vstiple",    "fstpbas"  ];
  stipleTexture =               [ "vstipltx",   "fstptexs" ];
  ship =                        [ "vbastex",    "fship"    ];
  shipSystemTexture =           [ "vbastex",    "ftexsysb" ];
  planet =                      [ "vplanet",    "fplanet"  ];
  shield =                      [ "vbastex",    "fshield"  ];
  energyCharge =                [ "vbastex",    "fenergyc" ];
  magnetoBomb =                 [ "vbastex",    "fmagbomb" ];
  monophasePulse =              [ "vbastex",    "fmonophs" ];
  missile =                     [ "vbastex",    "fmissile" ];
  hudReticle =                  [ "vbastex",    "fhud"     ];
  simpleExplosion =             [ "vexpl21",    "fexsimpl" ];
  sparkleExplosion =            [ "vexpl21",    "fexsprkl" ];
  sparkExplosion =              [ "vexpl21",    "fexspark" ];
  bigSparkExplosion =           [ "vexpl21",    "fexbsprk" ];
  incursionExplosion =          [ "vexpl21",    "fexincur" ];
  flameExplosion =              [ "vexpl21",    "fexflame" ];
  trail =                       [ "vtrail21",   "ftrail21" ];
#  nebula_base_update =          [ "vnebulbu",   "fnebulbu" ];
#  nebula_object_update =        [ "vnebulou",   "fnebulou" ];
#  nebula_object_feedback =      [ "vnebulof",   "fdiscard" ];
#  nebula_back_draw =            [ "vbastex",    "fnebulbd" ];
#  nebula_front_draw =           [ "vbastex",    "fnebulfd" ];
};

fast = {
  comment = "Faster, but less eye-candy";
  redirect_big_spark_explosion = true;
  quick =                       [ "vquick",     "fquick"   ];
  simpleColour =                [ "vbasic",     "fbasic"   ];
  textureReplace =              [ "vbastex",    "fbastexr" ];
  textureModulate =             [ "vbastex",    "fbastexm" ];
  textureStensil =              [ "vbastex",    "fbastexs" ];
  stipleColour =                [ "vstiple",    "fstpbas"  ];
  stipleTexture =               [ "vstipltx",   "fstptexs" ];
  ship =                        [ "vbastex",    "fship"    ];
  shipSystemTexture =           [ "vbastex",    "ftexsysb" ];
  planet =                      [ "vplanet",    "fplanet"  ];
  shield =                      [ "vbastex",    "fshield"  ];
  energyCharge =                [ "vbastex",    "fquick"   ];
  magnetoBomb =                 [ "vbastex",    "fmagbomb" ];
  monophasePulse =              [ "vbastex",    "fmonophs" ];
  missile =                     [ "vbastex",    "fmissile" ];
  hudReticle =                  [ "vbastex",    "fhud"     ];
  simpleExplosion =             [ "vnull",      "fexsimpl",     "gexplode" ];
  sparkleExplosion =            [ "vnull",      "fexsimpl",     "gexplode" ];
  sparkExplosion =              [ "vnull",      "fexsimpl",     "gexplode" ];
  bigSparkExplosion =           [ "vnull",      "fexbsprk",     "gexplode" ];
  incursionExplosion =          [ "vnull",      "fexincur",     "gexplode" ];
  flameExplosion =              [ "vnull",      "fexsimpl",     "gexplode" ];
  trail =                       [ "vtrail",     "ftrail",       "gtrail"   ];
  nebula_base_update =          [ "vnebulbu",   "fnebulbu" ];
  nebula_object_update =        [ "vnebulou",   "fnebulou",     "gnebulou" ];
  nebula_object_feedback =      [ "vnebulof",   "fdiscard" ];
  nebula_back_draw =            [ "vbastex",    "fnebulbd" ];
  nebula_front_draw =           [ "vbastex",    "fnebulfd" ];
};

ugly = {
  comment = "Minimise effects while keeping game playable";
  redirect_big_spark_explosion = true;
  quick =                       [ "vquick",     "uquick"   ];
  simpleColour =                [ "vbasic",     "ubasic"   ];
  textureReplace =              [ "vbastex",    "ubastexr" ];
  textureModulate =             [ "vbastex",    "ubastexm" ];
  textureStensil =              [ "vbastex",    "ubastexs" ];
  stipleColour =                [ "vstiple",    "ustpbas"  ];
  stipleTexture =               [ "vstipltx",   "ustptexs" ];
  ship =                        [ "vbastex",    "fship"    ];
  shipSystemTexture =           [ "vbastex",    "ftexsysb" ];
  planet =                      [ "vplanet",    "fplanet"  ];
  shield =                      [ "vbastex",    "ushield"  ];
  energyCharge =                [ "vbastex",    "uquick"   ];
  magnetoBomb =                 [ "vbastex",    "umagbomb" ];
  monophasePulse =              [ "vbastex",    "fmonophs" ];
  hudReticle =                  [ "vnull",      "fdiscard" ];
  missile =                     [ "vbastex",    "fmissile" ];
  simpleExplosion =             [ "vnull",      "uexsimpl",     "gexplode" ];
  sparkleExplosion =            [ "vnull",      "fdiscard",     "gdiscard" ];
  sparkExplosion =              [ "vnull",      "fdiscard",     "gdiscard" ];
  bigSparkExplosion =           [ "vnull",      "fdiscard",     "gdiscard" ];
  incursionExplosion =          [ "vnull",      "fdiscard",     "gdiscard" ];
  flameExplosion =              [ "vnull",      "fdiscard",     "gdiscard" ];
  trail =                       [ "vnull",      "fdiscard",     "gdiscard"   ];
  nebula_base_update =          [ "vnebulbu",   "fnebulbu" ];
  nebula_object_update =        [ "vnebulou",   "fnebulou",     "gnebulou" ];
  nebula_object_feedback =      [ "vnebulof",   "fdiscard" ];
  nebula_back_draw =            [ "vbastex",    "fnebulbd" ];
  nebula_front_draw =           [ "vbastex",    "fnebulfd" ];
};

lsd = {
  comment = "There's, like, so many colours, man!";
  redirect_big_spark_explosion = false;
  quick =                       [ "vlquick",    "lquick"   ];
  simpleColour =                [ "vlbasic",    "lbasic"   ];
  textureReplace =              [ "vbastex",    "lbastexr" ];
  textureModulate =             [ "vbastex",    "lbastexm" ];
  textureStensil =              [ "vbastex",    "lbastexs" ];
  stipleColour =                [ "vstiple",    "lstpbas"  ];
  stipleTexture =               [ "vstipltx",   "lstptexs" ];
  ship =                        [ "vbastex",    "lship"    ];
  shipSystemTexture =           [ "vbastex",    "ftexsysb" ];
  planet =                      [ "vplanet",    "lplanet"  ];
  shield =                      [ "vbastex",    "lshield"  ];
  energyCharge =                [ "vbastex",    "lenergyc" ];
  magnetoBomb =                 [ "vbastex",    "lmagbomb" ];
  monophasePulse =              [ "vbastex",    "fmonophs" ];
  missile =                     [ "vbastex",    "fmissile" ];
  hudReticle =                  [ "vbastex",    "fhud"     ];
  simpleExplosion =             [ "vnull",      "lexsimpl",     "gexplode" ];
  sparkleExplosion =            [ "vnull",      "lexsprkl",     "gexplode" ];
  sparkExplosion =              [ "vnull",      "lexspark",     "gexplode" ];
  bigSparkExplosion =           [ "vnull",      "lexbsprk",     "gexplode" ];
  incursionExplosion =          [ "vnull",      "lexincur",     "gexplode" ];
  flameExplosion =              [ "vnull",      "lexflame",     "gexplode" ];
  trail =                       [ "vtrail",     "ltrail",       "gtrail"   ];
  nebula_base_update =          [ "vnebulbu",   "fnebulbu" ];
  nebula_object_update =        [ "vnebulou",   "fnebulou",     "gnebulou" ];
  nebula_back_draw =            [ "vbastex",    "lnebulbd" ];
  nebula_front_draw =           [ "vbastex",    "lnebulfd" ];
  nebula_object_feedback =      [ "vnebulof",   "fdiscard" ];
};

optional_uniforms = {
  # For explosions
  colour:();
  elapsedTime:();
  density:();
  id:();
  sizeAt1Sec:();
};
